/* Header */
.custom-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 150px;
    background-color: var(--primary);
  }
  
  .custom-header p {
    margin: 0;
    font-family: var(--body-regular-font-family);
    font-weight: var(--body-regular-font-weight);
    font-size: var(--body-regular-font-size);
    letter-spacing: var(--body-regular-letter-spacing);
    line-height: var(--body-regular-line-height);
    font-style: var(--body-regular-font-style);
    color: var(--white);
  }
  
  .free-shipping {
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .underline {
    text-decoration: underline;
  }



footer{
    background: var(--gray, #E4E4E4);
}