:root {
    --primary: rgba(124, 63, 255, 1);
    --primary-light: rgba(243, 237, 255, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(228, 228, 228, 1);
    --black: rgba(0, 0, 0, 1);
    --header-heading-1-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-1-font-weight: 700;
    --header-heading-1-font-size: 54px;
    --header-heading-1-letter-spacing: 0px;
    --header-heading-1-line-height: normal;
    --header-heading-1-font-style: normal;
    --header-heading-2-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-2-font-weight: 700;
    --header-heading-2-font-size: 40px;
    --header-heading-2-letter-spacing: 0px;
    --header-heading-2-line-height: normal;
    --header-heading-2-font-style: normal;
    --header-heading-3-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-3-font-weight: 700;
    --header-heading-3-font-size: 32px;
    --header-heading-3-letter-spacing: 0px;
    --header-heading-3-line-height: normal;
    --header-heading-3-font-style: normal;
    --header-heading-4-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-4-font-weight: 700;
    --header-heading-4-font-size: 24px;
    --header-heading-4-letter-spacing: 0px;
    --header-heading-4-line-height: normal;
    --header-heading-4-font-style: normal;
    --header-heading-5-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-5-font-weight: 700;
    --header-heading-5-font-size: 18px;
    --header-heading-5-letter-spacing: 0px;
    --header-heading-5-line-height: normal;
    --header-heading-5-font-style: normal;
    --header-heading-6-font-family: "Montserrat-Bold", Helvetica;
    --header-heading-6-font-weight: 700;
    --header-heading-6-font-size: 16px;
    --header-heading-6-letter-spacing: 0px;
    --header-heading-6-line-height: normal;
    --header-heading-6-font-style: normal;
    --subtitle-bold-font-family: "Poppins-Bold", Helvetica;
    --subtitle-bold-font-weight: 700;
    --subtitle-bold-font-size: 16px;
    --subtitle-bold-letter-spacing: 0px;
    --subtitle-bold-line-height: normal;
    --subtitle-bold-font-style: normal;
    --subtitle-medium-font-family: "Poppins-SemiBold", Helvetica;
    --subtitle-medium-font-weight: 600;
    --subtitle-medium-font-size: 16px;
    --subtitle-medium-letter-spacing: 0px;
    --subtitle-medium-line-height: normal;
    --subtitle-medium-font-style: normal;
    --subtitle-regular-font-family: "Poppins-Regular", Helvetica;
    --subtitle-regular-font-weight: 400;
    --subtitle-regular-font-size: 16px;
    --subtitle-regular-letter-spacing: 0px;
    --subtitle-regular-line-height: normal;
    --subtitle-regular-font-style: normal;
    --body-bold-font-family: "Poppins-Bold", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 14px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: normal;
    --body-bold-font-style: normal;
    --body-medium-font-family: "Poppins-SemiBold", Helvetica;
    --body-medium-font-weight: 600;
    --body-medium-font-size: 14px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: normal;
    --body-medium-font-style: normal;
    --body-regular-font-family: "Poppins-Regular", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 14px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: normal;
    --body-regular-font-style: normal;
    --caption-bold-font-family: "Poppins-Bold", Helvetica;
    --caption-bold-font-weight: 700;
    --caption-bold-font-size: 12px;
    --caption-bold-letter-spacing: 0px;
    --caption-bold-line-height: normal;
    --caption-bold-font-style: normal;
    --caption-medium-font-family: "Poppins-SemiBold", Helvetica;
    --caption-medium-font-weight: 600;
    --caption-medium-font-size: 12px;
    --caption-medium-letter-spacing: 0px;
    --caption-medium-line-height: normal;
    --caption-medium-font-style: normal;
    --caption-regular-font-family: "Poppins-Regular", Helvetica;
    --caption-regular-font-weight: 400;
    --caption-regular-font-size: 12px;
    --caption-regular-letter-spacing: 0px;
    --caption-regular-line-height: normal;
    --caption-regular-font-style: normal;
  }
  